<div class="jumbotron">
  <h1>'Hello there'!</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<ul>
  <li ng-repeat="thing in main.awesomeThings">{{thing}}</li>
</ul>

<div class="row marketing">
<h1> Using Promises </h1>
<h4> Result is: {{result}} </h4>
<h3> Time:{{elapsedTime}} </h3>
<h3> Failure:{{failure}} </h3>
</div>
<div class="row marketing">
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
</div>
